name: Deploy Frontend (Vite + React)

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy Frontend to Server via SSH
        uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          password: ${{ secrets.SERVER_PASSWORD }}
          port: 22
          script: |
            export NVM_DIR="$HOME/.nvm"
            source "$NVM_DIR/nvm.sh"
            nvm use node

            cd ~/frontend
            git pull origin prod
            npm install
            npm run build

            pm2 delete maker-frontend || true
            pm2 start start-frontend.sh --name maker-frontend
            pm2 save
